#inquiry-confirmation{
    background: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    height: 180px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 16px;
    text-align: center;

    #confirmation-url{
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        width: fit-content;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        color: #00b8d4;
        transition: 0.2s ease-in-out;
        
    }
    
    #confirmation-url:hover{
        box-shadow: 0 4px 6px rgba(0,184,212, 0.5);
    }
}