#inquiry-form{
    background: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
    height: 400px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 16px;

    #input-fields{
        margin-top: 32px;
    }
    
    textarea, input{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        padding: 8px;
        display: block;
        background: #EAEAEA;
        border: none;
        border-radius: 2px;
        
    }
    
    textarea{
        height: 160px
    }

    button {
        background: white;
        color: #3d3d3d;
        cursor: pointer;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        padding: 8px 16px;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        transition: 0.2s ease-in-out;
    }

    button:hover{
            box-shadow: 0 4px 6px rgba(0,184,212, 0.5);
    }
}